<h1><%= @post.author %></h1>
 
<p><%= @post.body %></p>
 
<p><%= @post.created_at %></p>

  <% if can? :edit, @post %>
  <%= link_to "Edit", edit_post_path(@post) %>
<% end %>
<% if can? :destroy, @post %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
<% end %>